{% for page in pages %}

    {% if page.meta.public == True %}
    <hr>

    <div class="post-preview">
        <h2 class="post-title">
            <a href="{{ url_for("page", path=page.path) }}">{{ page.title }}</a>
        </h2>
        <p class="post-meta"> <i>{{ page.meta.summary }}</i> </p>
        <p class="post-meta">Published on {{ page.meta.published  }}</p>
        <p class="post-meta">
           {% if page.meta.tags|length %}
                <b>Tags:</b>
                {% for page_tag in page.meta.tags %}
                <a href="{{ url_for("tag", tag=page_tag) }}"> <b>{{ page_tag }}</b> </a>
                {% endfor %}
            {% endif %}
        </p>
   </div>
    {% endif %}

{% else %}
    <h3>No content.</h3>
{% endfor %}

