{% for post in posts %}

    {% if post.meta.public == True %}
    <hr>

    <div class="post-preview">

        <h2 class="post-title"> {{ post.title }} </h2>
        <h3 class="post-subtitle"> <a href="{{ url_for("post", slug=post.slug) }}"> {{ post.meta.summary }} </a> </h3>
        <p class="post-meta">Published on {{ post.meta.published.strftime('%Y/%m/%d') }}
            {% if post.meta.tags|length %}
                , under <b>tags:</b>
                {% for post_tag in post.meta.tags %}
                <a href="{{ url_for("tag", tag=post_tag) }}"> <b>{{ post_tag }}</b> </a>
                {% endfor %}
            {% endif %}
        </p>

    </div>
    {% endif %}

{% else %}
    <h3>No content.</h3>
{% endfor %}

